@model Registration
@{
    ViewData["Title"] = "Registration";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>

<div>
    @Html.Raw(Model.Description)
</div>
<table style="float:left; width:60%;">
    <thead>
        <tr>
            <th>Ticket Type</th>
            <th>Price</th>
        </tr>
    </thead>
    @foreach (Ticket ti in Model.Tickets)
    {
        <tr>
            <td>
                <h4>@Html.DisplayFor(model => ti.Name)</h4>
                <p>@Html.Raw(ti.Description)</p>
            </td>
            <td>
                $@Html.DisplayFor(model => @ti.Price)
            </td>
        </tr>
    }
</table>

@await Component.InvokeAsync("RegistrationForm")
