@model IEnumerable<Speaker>
@{
    ViewData["Title"] = "Index";
}

<h1>Speakers:</h1>

@foreach (Speaker sp in Model)
{
<div>
    @if (sp.Photo.Any())
    {
        <img src="@sp.Photo.First().Url" />
    }
    else
    {
        <img src="~/images/SpeakerIcon.png" />
    }
    <a asp-route="speaker" asp-route-id="@sp.SpeakerId">@sp.FirstName @sp.LastName</a>
    - <span>@sp.JobTitle</span>
</div>
}

