@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/venobox/venobox.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: TheEvent
      Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>


<body>
    <header id="header">
        <div id="logo" class="pull-left">
            <h1><a asp-route-location="@ViewBag.location" asp-controller="Home" asp-action="Index"><span>K</span>onference</a></h1>
        </div>
        @if (controllerName != "LandingPage")
        {
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-route-location="@ViewBag.location" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-route-location="@ViewBag.location" asp-controller="Agenda" asp-action="Index">Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-route-location="@ViewBag.location" asp-controller="Venue" asp-action="Index">Venue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-route-location="@ViewBag.location" asp-controller="Speakers" asp-action="Index">Speakers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-route-location="@ViewBag.location" asp-controller="Sponsors" asp-action="Index">Sponsors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-route-location="@ViewBag.location" asp-controller="Registration" asp-action="Index">Registration</a>
                    </li>
                </ul>
            </nav>
        }
    </header>

    @RenderBody()

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/superfish/hoverIntent.js"></script>
    <script src="~/lib/superfish/superfish.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/venobox/venobox.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Main Javascript File -->
    <script src="~/js/main.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
