@model AgendaItem
@{
    ViewData["Title"] = Model.Name;
}

<section id="schedule">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h2>@Html.DisplayFor(model => model.Name)</h2>
        </div>
        <!--==========================
          Room Section
        ============================-->
        <div class="sub-heading">
            @foreach (Room ro in Model.Room)
            {
                <h3>
                    @ro.Name
                    &mdash;
                    @foreach (var option in ro.Floor)
                    {
                        @option.Name
                    }
                </h3>
            }
            <h4>@Html.DisplayFor(model => model.StartTime) &ndash; @Html.DisplayFor(model => model.EndTime)</h4>
        </div>
        <!--==========================
        Presentation/Recording Section
        ============================-->

        @foreach (Presentation pr in Model.Presentation)
        {
            <p>
                @Html.DisplayFor(model => pr.Description)
            </p>
        }
        @if (Model.Recording.Any())
        {
            <h3>Recorded Presentation:</h3>
            @foreach (YoutubeVideo yv in Model.Recording)
            {
                <iframe class='hosted-video__wrapper' width='560' height='315' src='https://www.youtube.com/embed/@yv.VideoId' frameborder='0' allowfullscreen> </iframe>
            }
        }
    </div>
</section>

<!--==========================
  Speakers Section
============================-->

@if (Model.Speakers.Any())
{
    <section id="speakers">
        <div class="section-header">
            <h2>Speakers:</h2>
        </div>
        <div class="row no-gutters supporters-wrap clearfix">
            @foreach (Speaker sp in Model.Speakers)
            {
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <a asp-route="speaker" asp-route-id="@sp.SpeakerId">
                        <div class="speaker">
                            @if (sp.Photo.Any())
                            {
                                <img class="img-fluid" src="@sp.Photo.First().Url" />
                            }
                            else
                            {
                                <img class="img-fluid" src="~/images/SpeakerIcon.png" />
                            }
                            <div class="details">
                                <h3>@sp.FirstName @sp.LastName</h3>
                                <p>@sp.JobTitle</p>
                            </div>

                        </div>
                    </a>
                </div>
            }
        </div>
    </section>
}