@model AgendaBlock
@{
    ViewData["Title"] = "Agenda";
}

<section id="schedule">
    <div class="container wow fadeInUp">
    <!--==========================
      Header Section
    ============================-->
        <div class="section-header">
            <h2>Event Schedule</h2>
        </div>
        <ul class="nav nav-tabs" role="tablist">
            @foreach (Agenda ag in Model.Agendas)
            {
                <li class="nav-item">
                    <a class="nav-link active" href="#@ag.System.Codename">@ag.Name</a>
                </li>
            }
        </ul>
        <!--==========================
          Agenda Day
        ============================-->
        @foreach (Agenda ag in Model.Agendas)
        {
            <h1 class="schedule-header" name="@ag.System.Codename">@ag.Name</h1>
            <div class="tab-content row justify-content-center">
                <!--==========================
                Agenda Item
                ============================-->
                @foreach (AgendaItem ai in ag.AgendaItems)
                {
                    <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="@ag.System.Codename">
                        <div class="row schedule-item">
                            <div class="col-md-3">
                                <time>@Html.DisplayFor(model => ai.StartTime) &mdash; @Html.DisplayFor(model => ai.EndTime)</time>
                            </div>
                            <div class="col-md-5">
                                <a asp-route="agenda-item" asp-route-urlSlug="@ai.UrlSlug">@ai.Name</a>
                            </div>
                            @if (ai.Room.Any())
                            {
                                <div class="col-md-4">
                                    @foreach (Room ro in ai.Room)
                                    {
                                        @ro.Name
                                        @:&mdash;
                                        foreach (var option in ro.Floor)
                                        {
                                            @option.Name
                                        }
                                    }
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }

    </div>
</section>



