@using KenticoKontentModels
@model Home
@{
    ViewData["Title"] = Model.BannerText;
}

<div class="text-center">
    <h1 class="display-4">@Html.DisplayFor(model => model.BannerText)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        <img src="@Html.DisplayFor(model => model.BannerImage.First().Url)" />
    </p>
    <p>@Html.DisplayFor(model => model.StartDate)</p>
    <p>@Html.DisplayFor(model => model.EndDate)</p>
    <p>@Html.DisplayFor(model => model.Description)</p>
    @foreach (Venue ve in Model.Venue)
    {
        <p>@ve.Name</p>
    }
    @foreach (Sponsor sp in Model.Sponsors)
    {
        <a href="@sp.Website"><img src="@sp.Logo.First().Url" height="25%" width="25%" /></a>
    }

</div>
