@using KenticoKontentModels
@model Home
@{
    ViewData["Title"] = Model.BannerText;
}

<div class="text-center">
    @if (Model.LiveUpdates.Any())
    {
        @foreach (AgendaItem ai in Model.LiveUpdates)
        {
            @if (DateTime.UtcNow.Subtract(ai.System.LastModified).TotalHours < 1)
            {
                <div class="alert alert-info">
                    <b>A change was made to </b>
                    <a asp-controller="Agenda" asp-action="Detail" asp-route-location="@ViewBag.location" asp-route-urlSlug="@ai.UrlSlug">
                        @ai.Name
                    </a>
                </div>
            }
        }
    }
    <h1 class="display-4">@Html.DisplayFor(model => model.BannerText)</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        <img src="@Html.DisplayFor(model => model.BannerImage.First().Url)" />
    </p>
    <p>@Html.DisplayFor(model => model.StartDate)</p>
    <p>@Html.DisplayFor(model => model.EndDate)</p>
    <p>@Html.DisplayFor(model => model.Description)</p>
    @foreach (Venue ve in Model.Venue)
    {
        <p>@ve.Name</p>
    }
    @foreach (Sponsor sp in Model.Sponsors)
    {
        <a href="@sp.Website"><img src="@sp.Logo.First().Url" height="25%" width="25%" /></a>
    }

    <a href="@Model.EditURL" target="_blank">Edit in Kentico Kontent</a>

</div>
